a:link {
    text-decoration: none !important;
}

.bottom_shadow {
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
    -moz-box-shadow: 0 8px 6px -6px #ccc;
    box-shadow: 0 8px 6px -6px #ccc;
}

.margin-nav {
    margin-top: 80px;
}

.active_bottom_shadow:hover {
    -webkit-box-shadow: 0 12px 12px -6px #ccc;
    -moz-box-shadow: 0 12px 12px -6px #ccc;
    box-shadow: 0 12px 12px -6px #ccc;
}


.bg-blue {
    background: rgb(3, 69, 138);
    background: linear-gradient(90deg, rgba(3, 69, 138, 1) 0%, rgba(9, 126, 233, 1) 100%);
    color: white;
}

.bg-blue:hover {
    background: rgb(0, 0, 139);
    background: linear-gradient(156deg, rgba(0, 0, 139, 1) 0%, rgba(0, 0, 255, 1) 100%);
    color: white;
}

.bg-pink {
    background: rgb(160, 5, 242);
    background: linear-gradient(156deg, rgba(160, 5, 242, 1) 2%, rgba(160, 13, 164, 1) 75%);
    color: white;
}

.bg-pink:hover {
    background: rgb(81, 0, 124);
    background: linear-gradient(156deg, rgba(81, 0, 124, 1) 2%, rgba(160, 13, 164, 1) 75%);
    color: white;
}

.brand-animation-pink:hover {
    color: rebeccapurple;
}

.brand-animation-blue {
    color: darkblue;
}

.brand-animation-blue:hover {
    color: dodgerblue;
}

.border-radius {
    border-radius: 25px;
}

.border-radius-left {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.border-radius-right {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.color-blue-font {
    color: darkblue;
}

.color-pink-font {
    color: rebeccapurple;
}

.color-gray-font {
    color: darkgrey;
}

.font-size-14 {
    font-size: 1.4em;
}

.cursor {
    cursor: pointer;
}

.cursor-0 {
    cursor: default;
}

.navbar-row {
    min-height: 60px;
}

.navbar-item {
    color: black;
    font-family: 'Montserrat', sans-serif;
    box-shadow: none;
}

.h-font {
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 3px;
}

.navbar-brand:hover {
    color: #cccccc;
}

.navbar-item:hover {
    cursor: pointer;
    color: #cccccc;
}

.btn-black {
    color: black;
    border: 1px solid black;
    background-color: white;
}

.btn-black:hover {
    background-color: black;
    color: white;
}

.btn-black-invert {
    color: white;
    border: 1px solid white;
    background-color: black;
}

.btn-black-invert:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}